{% extends "::base.html.twig" %}

{% block title %}
    Dashboard - Dental Central
{% endblock %}

{% block body %}
    <h1 class="dashboard-welcome">Welcome back, {{ user.name }}</h1>
    <script>
        //TODO: Alert upcoming appointments (within 1 week)
    </script>
    <div id="calendar"></div>

{% endblock %}

    {% block javascripts %}
        <script>
            var events = [];
            var inactiveCount = 0;
            {% for appointment in appointments %}
            {% if not appointment.active %}
            var color = '#FF0000';
            var title = 'CANCELLED';
            inactiveCount++;
            {% else %}
            var title = '{{ appointment.type }} - {{ appointment.user.name }}';
            var color = '#' + ({{ appointment.user.id / 25000 }} * 0xFFFFFF << 0
            ).toString(16);
            {% endif %}
            events.push(
                {
                    id: '{{ appointment.id }}',
                    //TODO: Find way to display  - D: {{ appointment.dentist }} - H: {{ appointment.hygienist }} - C: {{ appointment.user.name }} cleanly in title
                    title: title,
                    start: '{{ appointment.start|date('Y-m-dTH:i') }}',
                    end: '{{ appointment.end|date('Y-m-dTH:i') }}',
                    dentist: '{{ appointment.dentist.name }}',
                    hygienist: '{{ appointment.hygienist.name }}',
                    user: '{{ appointment.user.name }}',
                    color: color
                }
            )
            ;
            {% endfor %}
            if (inactiveCount > 0) {
                $('<div class=\"alert alert-danger\" role=\"alert\"></div>').insertAfter('h1');
                $("div.alert-danger").html('<p>You have one or more appointments that have been cancelled. Please contact your Dentist\'s office to reschedule an appointment!</p>');
                $('<a href=\"{{ path('clearCancelled') }}\"><button class=\"btn btn-primary\" id=\"clearCancelled\">Click Here To Remove All Cancelled Appointments From My Calendar</button></a>').insertAfter('div.alert-danger');
            }
        </script>
        <script src="{{ asset('js/dashboard/appointments.js') }}"></script>
    {% endblock %}