{% extends "::base.html.twig" %}

{% block title %}
    Your appointments
{% endblock %}

{% block body %}
<div id="calendar"></div>

<div id="calendar-popup">

    <div id="event">
        <header></header>
        <ul>
            <li class="start-time">
                <p>Start</p>
                <time></time>
            </li>
            <li class="end-time">
                <p>End</p>
                <time></time>
            </li>
            <li>
                <p>at</p>
                <p class="location"></p>
            </li>
            <li>
                <p>Details:</p>
                <p class="details"></p>
            </li>
        </ul>
    </div>

    <div class="prong">
        <div class="bottom-prong-dk"></div>
        <div class="bottom-prong-lt"></div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        var events = [];

        {% for appointment in appointments %}
        events.push(
            {
                id: '{{ appointment.id }}',
                //TODO: Find way to display  - D: {{ appointment.dentist }} - H: {{ appointment.hygienist }} - C: {{ appointment.user.name }} cleanly in title
                title: '{{ appointment.type }} - {{ appointment.user.name }}',
                start: '{{ appointment.start|date('Y-m-dTH:i') }}',
                end: '{{ appointment.end|date('Y-m-dTH:i') }}',
                dentist: '{{ appointment.dentist.name }}',
                hygienist: '{{ appointment.hygienist.name }}',
                user: '{{ appointment.user.name }}',
                color: '#' + ({{ appointment.user.id / 25000 }} * 0xFFFFFF << 0).toString(16)
        }
        )
        ;
        {% endfor %}
    </script>
    <script src="{{ asset('js/dashboard/appointments.js') }}"></script>
{% endblock %}