{% extends "::base.html.twig" %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <td>Client</td>
            <td>Title</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td colspan="2">Operating Staff</td>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td> {{ appointment.user.name }}</td>
                <td>{{ appointment.title }}</td>
                <td> {{ appointment.start|date('Y-m-d H:i') }}</td>
                <td> {{ appointment.end|date('Y-m-d H:i') }}</td>
                {% for staff in appointment.staff %}
                    <td> {{ staff.name }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}