{% extends "::base.html.twig" %}

{% block body %}
<div class="login">
    <h2 id="current-users">All Current Users</h2>
    <table class="user-table">
        <tbody>
        <tr>
            <td><b>Username</b></td>
            <td><b>Email</b></td>
            <td><b>User Type</b></td>
            <td colspan="2"><b>Options</b></td>
        </tr>
        <tr>
            <td colspan="5"> <hr /></td>
        </tr>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.role }}
                    {#{{ user.roles[0][5:]}}#}
                </td>
                <td>
                    <a href="{{ path('edit_user', {'id': user.id }) }}">Edit User</a>
                </td>
                <td>
                    <a href="{{ path('delete_user', {'id' : user.id}) }}">Delete User</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>

{% endblock %}